In [40]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
import pandas as pd

#Label-Encoding

In [18]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange', 'apple', 'orange']})
df

    fruit
0   apple
1  banana
2  orange
3   apple
4  orange

In [19]:
# Create a LabelEncoder object
le = LabelEncoder()
df['fruit_encoded'] = le.fit_transform(df['fruit'])

In [20]:
df

    fruit  fruit_encoded
0   apple              0
1  banana              1
2  orange              2
3   apple              0
4  orange              2

#OneHotEncoder

In [25]:
# Example data
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange', 'apple', 'orange']})

In [34]:
# Create a OneHotEncoder object
ohe = OneHotEncoder()
transf=ohe.fit_transform(df[['fruit']])
transf

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [35]:
#transf is sparsity matrix so we need to convert it to array
df_encoded = pd.DataFrame(transf.toarray(), columns=ohe.get_feature_names_out(['fruit']))

df_concat = pd.concat([df, df_encoded], axis=1)

df_concat

    fruit  fruit_apple  fruit_banana  fruit_orange
0   apple          1.0           0.0           0.0
1  banana          0.0           1.0           0.0
2  orange          0.0           0.0           1.0
3   apple          1.0           0.0           0.0
4  orange          0.0           0.0           1.0

#Dummy_encoding

In [39]:
# Example data
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange', 'apple', 'orange']})

df_dummies = pd.get_dummies(df['fruit'],drop_first=True, prefix='fruit')
# df_dummies = pd.get_dummies(df, columns=['fruit', 'color']) if multi features 

df_concat = pd.concat([df, df_dummies], axis=1)

df_concat

    fruit  fruit_banana  fruit_orange
0   apple             0             0
1  banana             1             0
2  orange             0             1
3   apple             0             0
4  orange             0             1

#ordinally_encoding

In [43]:
# Example data
df = pd.DataFrame({'size': ['small', 'medium', 'large','huge','small', 'medium']})

# Create an OrdinalEncoder object
oe = OrdinalEncoder(categories=[['small', 'medium', 'large','huge']])

# Apply ordinal encoding to the 'size' column
df['size_encoded'] = oe.fit_transform(df[['size']])

# Print the encoded data
print(df)

     size  size_encoded
0   small           0.0
1  medium           1.0
2   large           2.0
3    huge           3.0
4   small           0.0
5  medium           1.0

In [44]:
# Example data
df = pd.DataFrame({'size': ['small', 'medium', 'large','huge','small', 'medium']})

# Create an OrdinalEncoder object
oe = OrdinalEncoder(categories=[['huge', 'large', 'medium','small']])

# Apply ordinal encoding to the 'size' column
df['size_encoded'] = oe.fit_transform(df[['size']])

# Print the encoded data
print(df)

     size  size_encoded
0   small           3.0
1  medium           2.0
2   large           1.0
3    huge           0.0
4   small           3.0
5  medium           2.0

***so i'm a controller of the ordering opposit of label encodinf***